<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="Jonathan Secher">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link
		rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
		<!-- Google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css">
		<link
		href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css">
		<!-- Core theme CSS (includes Bootstrap) -->
		<link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body id="page-top">
		{% block navbar %}
			<!-- Navigation-->
			{% include "partials/_navbar.html.twig" %}
		{% endblock %}
		{% block body %}
			<div
				data-bs-spy="scroll" data-bs-target="#sideNav" data-bs-offset="0" tabindex="0" class="container-fluid p-0">
				<!-- About-->
				{% include "partials/_about.html.twig" %}
				<hr
				class="m-0"/>

				<!-- Skills-->
				{% include "partials/_skills.html.twig" %}
				<hr
				class="m-0"/>

				<!-- Realisations-->
				{% include "partials/_realisations.html.twig" %}
				<hr
				class="m-0"/>

				<!-- Certifications-->
				{% include "partials/_certifications.html.twig" %}
				<hr
				class="m-0"/>

				<!-- Interests-->
				{% include "partials/_interests.html.twig" %}
				<hr class="m-0"/>
			</div>
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<!-- Font Awesome icons (free version)-->
			<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
		{% endblock %}

	</body>
</html>
